.heroBanner {
  padding: 4rem 0 2rem;
  text-align: center;
  background-color: #242526;
  color: #ffffff;
}

.heroSubtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #3498db;
  margin-top: 1rem;
}


.mainContent {
  padding: 0 0 4rem;
  width: 100%;
  background-color: #242526;
  color: #ffffff;
}

.mainContent p {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.mainContent a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.mainContent a:hover {
  text-decoration: underline;
}
